section#section-login h1{
    text-align: center;
}
section#section-login form#section-auth{
    width: 100%;
    max-width: 580px; 
    margin: 30px auto 0;
    padding: 30px; 
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

section#section-login form#section-auth input{
    margin: 5px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 0 20px;
}

section#section-login form#section-auth button{
    margin: 5px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    background: #7159c1;
    color:white;

}

section#section-login form#section-auth button:hover{
    background:  #130f1f;
    color: white;

}

section#section-login form#section-auth .form-opcao{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
