<header id="main-header">
  <div class="header-content">
      <div class="header-logo">
          <img src="https://image.flaticon.com/icons/png/512/33/33558.png">
          <p>Loja online</p>
      </div>
      <div class="header-auth">
         <section id="teste">
              <img src="../../../assets/img/icone-perfil.jpg" >
              <p>{{ name }}</p>
              <div id="header-carrinho" >
                  <img id="carrinho" src="../../../assets/img/carrinho.png" style="height: 40px; opacity: 0.3">
                  <p id="produto-carrinho" style="margin-left: -17px;">0</p>
              </div>
              <button>Perfil</button >
              <button>Sair</button >
          </section>
         <!--  <section>
            <button routerLink='/cadastrar'>Cadastre-se</button>
            <button routerLink='/login' >Login</button>
          </section> -->
      </div>
  </div>
</header>
